<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <title>Sistema - Registro</title>
    <!--Core CSS -->
    <link href="@{'public/bs3/css/bootstrap.min.css'}" rel="stylesheet">
    <link href="@{'public/js/jquery-ui/jquery-ui-1.10.1.custom.min.css'}" rel="stylesheet">
    <link href="@{'public/css/bootstrap-reset.css'}" rel="stylesheet">
    <link href="@{'public/font-awesome/css/font-awesome.css'}" rel="stylesheet">
    <link href="@{'public/js/jvector-map/jquery-jvectormap-1.2.2.css'}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@{'public/js/bootstrap-fileupload/bootstrap-fileupload.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'public/js/bootstrap-datepicker/css/datepicker.css'}" />
    <link href="@{'public/css/clndr.css'}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@{'public/js/select2/select2.css'}" />
    <!--clock css-->
    <link href="@{'public/js/css3clock/css/style.css'}" rel="stylesheet">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="@{'public/js/morris-chart/morris.css'}">
    <!-- Custom styles for this template -->
    <link href="@{'public/css/style.css'}" rel="stylesheet">
    <link href="@{'public/css/style-responsive.css'}" rel="stylesheet"/>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="@{'public/js/ie8-responsive-file-warning.js'}"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
<script>

function initMap() {
  var mapProp = {
        center:new google.maps.LatLng(-6.112904478208439,-38.20667266845703),
        zoom:16,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

    // inicializa o marker na posicao do Local
    var marker=new google.maps.Marker();
    marker.setMap(map);
    var pos = 0;
    pos = {lat: -6.112904478208439, lng: -38.20667266845703};
    marker.setPosition(pos);
    
    var searchBox = new google.maps.places.SearchBox(document.getElementById('map_busca'));
    map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('map_busca'));
    google.maps.event.addListener(searchBox, 'places_changed', function() {
        searchBox.set('map', null);

        var places = searchBox.getPlaces();
        var bounds = new google.maps.LatLngBounds();
        var i, place;
        for (i = 0; place = places[i]; i++) {(
            function(place) {
                
                bounds.extend(place.geometry.location);
            }(place));
        }
        map.fitBounds(bounds);
        searchBox.set('map', map);
        map.setZoom(Math.min(map.getZoom(),12));
    });

    // Coleta click no mapa
    google.maps.event.addListener(map,'click',function(event) {
	document.getElementById("latitude").value = event.latLng.lat();
	document.getElementById("longitude").value = event.latLng.lng();

	pos = {lat: event.latLng.lat(), lng: event.latLng.lng()};

	marker.setPosition(pos);

	marker.setMap(map);
    });
}

</script>
</head>
  <body class="login-body">
	
    <div class="container">
        <form class="form-signin" action="@{Sistema.cadastraVendedor}" method="post" enctype="multipart/form-data">
            <center>
            <a href="@{Sistema.index}" class="logo">
                <img src="@{'public/images/logo3.png'}" height="65" alt="">
            </a>
	  </center>
      <h2 class="form-signin-heading">Seja um de nossos vendedores!</h2>
      <div class="login-wrap">
            <p>Preencha todos seus dados pessoais</p>
            <input type="hidden" name="vendedor.id" value="${vendedor?.id}"/>
            <input type="text" class="form-control" placeholder="Nome" name="vendedor.nome" value="${vendedor?.nome}" autofocus>
            <div class="form-group">
                <div class="col-md-12">
                    <center>
                        <img src="${vendedor?.foto}" style="width: 200px; height: 200px;margin-bottom: 15px" class="bordered">
                    </center>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="CPF" name="vendedor.cpf" value="${vendedor?.cpf}" data-mask="999.999.999-99">
            <input class="form-control form-control-inline input-medium default-date-picker" data-date-viewmode="years" data-date-format="dd/mm/yyyy" data-date="12-02-2012"  class="input-append date dpYears" type="text" value="${vendedor?.data}" name="vendedor.data" placeholder="Data de nascimento" />
            <input type="text" class="form-control" placeholder="E-mail" name="vendedor.email" value="${vendedor?.email}" autofocus>
            <input type="text" class="form-control" placeholder="Endereço" name="vendedor.endereco" value="${vendedor?.endereco}" autofocus>
            <input type="text" class="form-control" placeholder="Cidade" name="vendedor.cidade" value="${vendedor?.cidade}" autofocus>
            
	    <input class="form-control" type="hidden" id="latitude" name="vendedor.latitude" value="${vendedor?.latitude}" placeholder="Latitude">
	    <input class="form-control" type="hidden" id="longitude" name="vendedor.longitude" value="${vendedor?.longitude}" placeholder="Longitude">
            
	    <p>Insira os detalhes de sua conta</p>
            <input type="text" class="form-control" placeholder="Nome de usuário" name="vendedor.usuario" value="${vendedor?.usuario}" autofocus>
            <input type="password" class="form-control" placeholder="Senha" name="vendedor.senha" value="${vendedor?.senha}">
            <label class="checkbox">
                <input type="checkbox"> Eu aceito os termos de serviço e política de privacidade
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Cadastrar-se</button>
            #{if flash.success}
                    <p style="text-align:center;background-color:#c62828;color:white;padding:5px;border-radius:5px"><i class="fa fa-thumbs-up"></i> ${flash.success.raw()}</p>
            #{/if}
        </div>

      </form>

    </div>
	<!-- Modal Google Maps -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Marque a sua localização</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">
		<div id="googleMap" style="width:100%;height:300px;"></div>
		<input id="map_busca" class="form-control" type="text" placeholder="Buscar no mapa" style="width:50%;margin-top:10px;margin-left:calc(50% - 15px)">
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
	      </div>
	    </div>
	  </div>
	</div>

    <!-- Placed js at the end of the document so the pages load faster -->

    <!--Core js-->
	
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBib1BakVrzsmk5uGaaRIUourbR3PuIo9I&libraries=places&callback=initMap"></script>
	<script src="@{'public/js/jquery.js'}"></script>
	<script src="@{'public/js/jquery-ui/jquery-ui-1.10.1.custom.min.js'}"></script>
	<script src="@{'public/js/bootstrap-fileupload/bootstrap-fileupload.js'}"></script>
	<script src="@{'public/bs3/js/bootstrap.min.js'}"></script>
	<script src="@{'public/js/jquery.dcjqaccordion.2.7.js'}"></script>
	<script src="@{'public/js/jquery.scrollTo.min.js'}"></script>
	<script src="@{'public/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js'}"></script>
	<script src="@{'public/js/jquery.nicescroll.js'}"></script>
	<script src="@{'public/js/skycons/skycons.js'}"></script>
	<script src="@{'public/js/jquery.scrollTo/jquery.scrollTo.js'}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="@{'public/js/calendar/clndr.js'}"></script>
	<script src="@{'public/js/advanced-form.js'}"></script>
	<script type="text/javascript" src="@{'public/js/bootstrap-datepicker/js/bootstrap-datepicker.js'}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="@{'public/js/calendar/moment-2.2.1.js'}"></script>
	<script src="@{'public/js/evnt.calendar.init.js'}"></script>
	<script src="@{'public/js/jvector-map/jquery-jvectormap-1.2.2.min.js'}"></script>
	<script src="@{'public/js/jvector-map/jquery-jvectormap-us-lcc-en.js'}"></script>
	<script type="text/javascript" src="@{'public/js/bootstrap-inputmask/bootstrap-inputmask.min.js'}"></script>
	<!--clock init-->
	<script src="@{'public/js/css3clock/js/css3clock.js'}"></script>
	<!--Easy Pie Chart-->
	<script src="@{'public/js/easypiechart/jquery.easypiechart.js'}"></script>
	<!--Sparkline Chart-->
	<script src="@{'public/js/sparkline/jquery.sparkline.js'}"></script>
	<!--Morris Chart-->
	<script src="@{'public/js/morris-chart/morris.js'}"></script>
	<script src="@{'public/js/morris-chart/raphael-min.js'}"></script>
	<!--jQuery Flot Chart-->
	<script src="@{'public/js/jquery.customSelect.min.js'}" ></script>
	<!--common script init for all pages-->
	<script src="@{'public/js/scripts.js'}"></script>
	<!--script for this page-->
	<script>
	$("#myModal").modal('show');
	</script>

  </body>
</html>